/* General styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  
}

.view-container1 {
  padding: 50px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.613);
  border-radius: 20px;
}

.view-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Table styling */
.styled-table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(25, 23, 23, 0.788);
  color: #fff;
  text-align: left;
}

.styled-table thead tr {
  background-color: rgba(0, 0, 0, 0.7);
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Icons styling */
.edit-icon {
  color: #4caf50;
  cursor: pointer;
}

.delete-icon {
  color: #f44336;
  cursor: pointer;
}
